ion-content {
 --background: #f6f6f6;
}
form {
 background: #ffffff;
 border-radius: 18px;
 padding: 18px;
 box-shadow: 0 8px 24px rgba(0,0,0,.08);
}
ion-button {
 margin-top: 18px;
 font-weight: 700;
}
ion-note {
 display: block;
 margin: 6px 0 10px 16px;
}
